.main-btn {
  all: unset;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 15px;
  transition: 0.2s;
  margin: 20px 0;
  font-size: 14px;
  &:hover,
  &.active {
    border-color: #4096ff;
    color: #4096ff;
  }
}
body {
  // background-color: red;
  min-height: 100vh;
}

form {
  .control {
    width: 400px;
    max-width: 100%;
    margin-bottom: 20px;
    > div,
    > input {
      width: 100%;
    }
  }
}

#loading {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}
