@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Almarai-Regular.ttf") format("tff");
}
@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/Almarai-Bold.ttf") format("tff");
}
