@import "../../assets/components.scss";
.landing {
  height: calc(100vh - 80px);
  background-image: url("../../assets/images/header.jpg");
  background-repeat: no-repeat;
  color: #fff;
  .container {
    text-align: center;
  }
  .decoration {
    width: 450px;
    margin-bottom: -50px;
    filter: drop-shadow(0 0 5px #000);
  }
  h1 {
    font-weight: 900;
  }
  p {
    position: relative;
    width: fit-content;
    margin: 10px auto;
    svg {
      position: absolute;
      color: $gold;
      font-size: 60px;
      top: -5px;
      filter: drop-shadow(0 0 5px #424242);
      &.right-quote {
        right: -60px;
      }
      &.left-quote {
        left: -60px;
      }
    }
  }
}
