@import "../../../assets/components.scss";
#invoices {
  .title {
    text-align: center;
    padding: 30px 0;
  }
  .actions {
    a,
    button {
      all: unset;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .calculator {
    margin-bottom: 30px;
    direction: ltr;
  }
}
