@import "../../../assets/components.scss";
#dashboard {
  // background-color: #f1f1f1;
  height: calc(100vh - 50px);
  .box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 30px;
  }
  .box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    .label {
      position: absolute;
      top: 0;
      right: 10px;
      transform: translateY(-50%);
      font-size: 18px;
      background-color: #fff;
      padding: 0 10px;
    }
    .value {
      font-weight: bold;
      margin-top: 20px;
      color: $main;
      letter-spacing: 1px;
      font-size: 35px;
      span {
        font-size: 25px;
        letter-spacing: 0px;
        color: #000;
        font-weight: normal;
      }
    }
  }
}
